# Importing jewellery data

In [1]:
from pyorange.datasets import get_data
jewellery_data = get_data('jewellery')

   Age  Income  SpendingScore       Savings
0   58   77769       0.791329   6559.829923
1   59   81799       0.791082   5417.661426
2   62   74751       0.702657   9258.992965
3   59   74373       0.765680   7346.334504
4   87   17760       0.348778  16869.507130

In [2]:
jewellery_data.head(10)

   Age  Income  SpendingScore       Savings
0   58   77769       0.791329   6559.829923
1   59   81799       0.791082   5417.661426
2   62   74751       0.702657   9258.992965
3   59   74373       0.765680   7346.334504
4   87   17760       0.348778  16869.507130
5   29  131578       0.847034   3535.514352
6   54   76500       0.785198   6878.884249
7   87   42592       0.355290  18086.287158
8   83   34384       0.324719  14783.379086
9   84   27693       0.367063  17879.558906

In [3]:
jewellery_data.shape

(505, 4)

In [4]:
jewellery_data.columns

Index(['Age', 'Income', 'SpendingScore', 'Savings'], dtype='object')

In [5]:
jewellery_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            505 non-null    int64
 1   Income         505 non-null    int64
 2   SpendingScore  505 non-null    float64
 3   Savings        505 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 15.9 KB

In [6]:
jewellery_data.describe()

              Age         Income  SpendingScore       Savings
count  505.000000     505.000000     505.000000    505.000000
mean    59.019802   75513.291089       0.505083  11862.455867
std     24.140043   35992.922184       0.259634   4949.229253
min     17.000000   12000.000000       0.000000      0.000000
25%     34.000000   34529.000000       0.304792   6828.709702
50%     59.000000   75078.000000       0.368215  14209.932802
75%     85.000000  107100.000000       0.768279  16047.268331
max     97.000000  142000.000000       1.000000  20000.000000

# splitting the trained and testing data for clustering

In [7]:
train_jewellery = jewellery_data.iloc[0:480,:]
unseen_data = jewellery_data.iloc[480: , :]

In [8]:
train_jewellery.shape

(480, 4)

In [9]:
unseen_data.shape

(25, 4)

# Initializing the cluster model

In [10]:
from pyorange.clustering import *
jew_cluster = setup(data = train_jewellery)

# creating kmeans clustering

In [11]:
#kmeans = create_model('kmeans',num_clusters = 4)
kmeans = create_model('kmeans')

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0.715,4575.5369,0.4169,0,0,0

# evaluating the kmenas clustering

In [12]:
evaluate_model(kmeans)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Cluster PCA Plot (2d)', …

# checking all the availability of clustering models

In [13]:
models()

,Name,Reference
ID,,
kmeans,K-Means Clustering,sklearn.cluster._kmeans.KMeans
ap,Affinity Propagation,sklearn.cluster._affinity_propagation.Affinity...
meanshift,Mean Shift Clustering,sklearn.cluster._mean_shift.MeanShift
sc,Spectral Clustering,sklearn.cluster._spectral.SpectralClustering
hclust,Agglomerative Clustering,sklearn.cluster._agglomerative.AgglomerativeCl...
dbscan,Density-Based Spatial Clustering,sklearn.cluster._dbscan.DBSCAN
optics,OPTICS Clustering,sklearn.cluster._optics.OPTICS
birch,Birch Clustering,sklearn.cluster._birch.Birch
kmodes,K-Modes Clustering,kmodes.kmodes.KModes

In [14]:
dbscan = create_model('dbscan')

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0,0,0,0,0,0

In [15]:
evaluate_model(dbscan)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Cluster PCA Plot (2d)', …

# saving the clustering model

In [16]:
save_model(kmeans, 'jew_cluster_kmeans_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='UNSUPERVISED_DUMMY_TARGET',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='most frequent',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None...
                 ('fix_perfect', 'passthrough'),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  KMeans(algorithm='auto', copy_x=True, init='k-means++',
                         max_iter=300, n_clusters=4, n_init=10, n_jobs=-1,
                         precompute_distances='deprecated', random_state=1956,
                         tol=0.0001, verbose=0)]],
          verbose=False),
 'jew_cluster_kmeans_model.pkl')

# loading the saved clustering model

In [17]:
saved_kmeans = load_model('jew_cluster_kmeans_model')

Transformation Pipeline and Model Successfully Loaded

# predicting the clusters on new data

In [18]:
jew_cluster_prediction = predict_model(model = saved_kmeans, data = unseen_data)
print(jew_cluster_prediction)

     Age  Income  SpendingScore       Savings    Cluster
480   65   71229       0.787890   9024.337461  Cluster 0
481   86   23400       0.278036  15215.281264  Cluster 1
482   32  108417       0.287371  16696.398659  Cluster 3
483   84   24105       0.271809  16524.902538  Cluster 1
484   84   30481       0.397023  16837.205965  Cluster 1
485   90   22782       0.356307  15924.071708  Cluster 1
486   91   28165       0.303693  17460.179350  Cluster 1
487   26  123005       0.984526   4371.234733  Cluster 2
488   92   18724       0.327862  15341.381110  Cluster 1
489   97   27271       0.283923  14928.165597  Cluster 1
490   84   36463       0.353621  16563.372591  Cluster 1
491   58   70369       0.904520   7461.567503  Cluster 0
492   61   74282       0.692236   7286.754751  Cluster 0
493   92   36032       0.336968  17348.599881  Cluster 1
494   87   29909       0.342152  18142.232747  Cluster 1
495   66   77052       0.707262   6296.417311  Cluster 0
496   22  132948       0.889800   2839.786357  Cluster 2
497   91   30756       0.303698  15492.004711  Cluster 1
498   30   98030       0.411112  16316.842905  Cluster 3
499   25  128625       0.816739   4914.117127  Cluster 2
500   28  101206       0.387441  14936.775389  Cluster 3
501   93   19934       0.203140  17969.693769  Cluster 1
502   90   35297       0.355149  16091.401954  Cluster 1
503   91   20681       0.354679  18401.088445  Cluster 1
504   89   30267       0.289310  14386.351880  Cluster 1

In [19]:
jew_cluster_prediction.to_csv("jewellery_clustering_results_unseen_data")